<h3>Appointment {{ formatDate date }}</h3>

<table class="summary-list">
    <tr><td>Appointment Date</td><td>{{ formatDate date }}</td></tr>
    <tr><td>Created in Community Payback</td><td>{{ createdByCommunityPayback }}</td></tr>
</table>

<h4>Events</h4>

<h5>Appointment Events</h5>
{{#appointmentEvents}}
    {{> sar/appointment-event}}
{{/appointmentEvents}}
{{^appointmentEvents}}
    <p>No Data Held</p>
{{/appointmentEvents}}

<h5>Adjustment Events</h5>
{{#adjustmentEvents}}
    {{> sar/adjustment-event}}
{{/adjustmentEvents}}
{{^adjustmentEvents}}
    <p>No Data Held</p>
{{/adjustmentEvents}}