<h1>Community Payback</h1>

<h2>Course Completions</h2>

{{#eteCourseCompletionEvents}}
    {{> sar/ete-course-completion-event}}
{{/eteCourseCompletionEvents}}
{{^eteCourseCompletionEvents}}
    <p>No Data Held</p>
{{/eteCourseCompletionEvents}}
