<h1>Community Payback</h1>

<h2>Course Completions</h2>

<p>This section lists course completion events received from Community Campus.</p>

<p>If a date range is specified, only course completion events occurring within that range are shown.</p>

{{#eteCourseCompletionEvents}}
    {{> sar/ete-course-completion-event}}
{{/eteCourseCompletionEvents}}
{{^eteCourseCompletionEvents}}
    <p>No Data Held</p>
{{/eteCourseCompletionEvents}}
