info.app:
  name: HMPPS Community Payback Api
  version: 1.0

spring:
  jpa:
    open-in-view: false
  flyway:
    enabled: true
    out-of-order: true
    repeatable-sql-migration-prefix: "R"
    sql-migration-prefix: ""
  application:
    name: hmpps-community-payback-api
  codec:
    max-in-memory-size: 10MB

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps-auth.url}/.well-known/jwks.json

      client:
        registration:
          api-client:
            provider: hmpps-auth
            client-id: override-me
            client-secret: override-me
            authorization-grant-type: client_credentials
            scope: read
        provider:
          hmpps-auth:
            token-uri: ${hmpps-auth.url}/oauth/token
  data:
    redis:
      repositories:
        enabled: false

springdoc:
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      internal-proxies: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|100\.6[4-9]\.\d{1,3}\.\d{1,3}|100\.[7-9][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.1[0-1][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.12[0-7]\.\d{1,3}\.\d{1,3}
  shutdown: graceful
  error:
    include-message: always

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

hmpps:
  sar:
    template:
      path: /sar-template.mustache
      enabled: true
  sqs:
    # this sets a backoff for retries on when errors occur consuming messages
    # see https://github.com/ministryofjustice/hmpps-spring-boot-sqs
    # maxReceiveCount = 3
    defaultErrorVisibilityTimeout: 10, 60