SPRING_PROFILES_ACTIVE=localdev

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI=https://sign-in-dev.hmpps.service.justice.gov.uk/auth/.well-known/jwks.json

SENTRY_ENABLED=false

HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth

HMPPS_SQS_PROVIDER=localstack
HMPPS_SQS_LOCALSTACKURL=http://localhost:4566
HMPPS_SQS_TOPICS_HMPPSEVENTTOPIC_ARN=arn:aws:sns:eu-west-2:000000000000:cp_stack_domainevents

# we setup an SQS topic subscriber so we can view what's sent to the topic via awslocal
HMPPS_SQS_QUEUES_HMPPSDOMAINEVENTSQUEUE_QUEUENAME=cp_stack_domain_event_subscriber
HMPPS_SQS_QUEUES_HMPPSDOMAINEVENTSQUEUE_DLQNAME=cp_stack_domain_event_subscriber_dlq
HMPPS_SQS_QUEUES_HMPPSDOMAINEVENTSQUEUE_SUBSCRIBETOPICID=hmppseventtopic

COMMUNITY-PAYBACK_REQUEST-LOGGING-ENABLED=true
