services:

  api:
    # To build locally, comment out `image` and uncomment `build`
    image: ghcr.io/ministryofjustice/hmpps-community-payback-api:latest
    #build: ../../
    container_name: cp-stack-api
    pull_policy: always
    depends_on:
      - wiremock
      - postgres
    # using raw format disables interpolation, which causes errors when values include '$'
    # note that intellij doesn't think this is valid but is i
    # https://youtrack.jetbrains.com/issue/IJPL-68738/Docker-Compose.-Editor.-Path-property-of-envfile-attribute-is-not-recognized
    env_file:
      - path: .env.api
        format: raw
    environment:
      - HMPPS_SQS_LOCALSTACKURL=http://localstack:4566
      - CLIENT_COMMUNITY_PAYBACK_AND_DELIUS_URL=http://wiremock:8080
      # Override DB settings when running the API in a container to address service DNS
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/community_payback
    ports:
      - "8080:8080"

  ui:
    image: ghcr.io/ministryofjustice/hmpps-community-payback-ui:latest
    container_name: cp-stack-ui
    pull_policy: always
    env_file:
      - path: .env.ui
        format: raw
    environment:
      - COMMUNITY_PAYBACK_API_URL=http://host.docker.internal:8080
    ports:
      - "3000:3000"
    entrypoint: "node dist/server.js | bunyan"

  sui:
    image: ghcr.io/ministryofjustice/hmpps-community-payback-supervisors-ui:latest
    container_name: cp-stack-sui
    pull_policy: always
    env_file:
      - path: .env.sui
        format: raw
    environment:
      - COMMUNITY_PAYBACK_API_URL=http://host.docker.internal:8080
    ports:
      - "3001:3001"
    entrypoint: "node dist/server.js | bunyan"

  localstack:
    image: localstack/localstack:latest
    container_name: cp-stack-localstack
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - JAVA_TOOL_OPTIONS=-XX:UseSVE=0
      - SERVICES=sns,sqs
      - DEBUG=${DEBUG:-0}
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  wiremock:
    image: wiremock/wiremock
    container_name: cp-stack-wiremock
    ports:
      - "9004:8080"
    volumes:
      - "../../helm_deploy/hmpps-community-payback-api/files/stubs-bypass:/home/wiremock"
    command: "--global-response-templating --verbose"
    healthcheck:
      # we use a custom healthcheck because calling /health
      # in wiremock outputs in verbose request/response logs, and
      # we're not interested in seeing this request
      test: bash -c "exec 6<> /dev/tcp/localhost/8080"

  postgres:
    image: "postgres:16.8"
    container_name: cp-stack-postgres
    environment:
      - POSTGRES_USER=community_payback
      - POSTGRES_PASSWORD=community_payback
      - POSTGRES_DB=community_payback
    volumes:
      - cp-stack-postgres-data-api:/var/lib/postgresql/data/
    ports:
      - "5431:5432"
    healthcheck:
      test: pg_isready -U community_payback -d community_payback

volumes:
  cp-stack-postgres-data-api:
