{
  "local": {
    "hmpps-auth-ui-client-username": "${CLIENT_CREDS_CLIENT_ID}",
    "hmpps-auth-ui-client-password": "${CLIENT_CREDS_CLIENT_SECRET}"
  },
  "dev": {
    "hmpps-auth-ui-client-username": "${CLIENT_CREDS_CLIENT_ID}",
    "hmpps-auth-ui-client-password": "${CLIENT_CREDS_CLIENT_SECRET}"
  }
}