name: Gatling performance test run

on:
  workflow_dispatch:
    inputs:
      envName:
        description: "Which API should this run against"
        required: false
        default: "dev"
        type: choice
        options:
          - dev
          - test
      simulationFqn:
        description: "Optional fully-qualified simulation class to run."
        required: false
        default: ""
        type: choice
        options:
          - ""
          - uk.gov.justice.digital.hmpps.communitypayback.stories.ui.E2E
          - uk.gov.justice.digital.hmpps.communitypayback.simulations.api.HealthSimulation
          - uk.gov.justice.digital.hmpps.communitypayback.simulations.api.admin.ProviderSimulation
          - uk.gov.justice.digital.hmpps.communitypayback.simulations.api.common.ReferenceSimulation
      nothingFor:
        description: "How long to wait before starting the onslaught"
        required: false
        default: "5"
        type: string
      atOnceUsers:
        description: "Number of initial concurrent users"
        required: false
        default: "10"
        type: string
      rampUsers:
        description: "How many users to increase to over time"
        required: false
        default: "50"
        type: string
      rampUsersDuring:
        description: "Number of seconds over which to increase the user count"
        required: false
        default: "30"
        type: string
      constantUsersPerSec:
        description: "The number of concurrent users to keep active per second"
        required: false
        default: "10.0"
        type: string
      constantUsersPerSecDuring:
        description: "The time period in seconds over which peak load should be applied"
        required: false
        default: "60"
        type: string

jobs:
  gatling-run:
    name: Run Gatling simulations
    runs-on: self-hosted
    permissions:
      contents: read
      actions: read
    timeout-minutes: 60

    env:
      GATLING_DEV_CLIENT_ID: ${{ secrets.GATLING_DEV_CLIENT_ID }}
      GATLING_DEV_CLIENT_SECRET: ${{ secrets.GATLING_DEV_CLIENT_SECRET }}
      GATLING_TEST_CLIENT_ID: ${{ secrets.GATLING_TEST_CLIENT_ID }}
      GATLING_TEST_CLIENT_SECRET: ${{ secrets.GATLING_TEST_CLIENT_SECRET }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Touch env file
        run: touch ./gatling/.env

      - name: Start Gatling
        env:
          GATLING_DEV_CLIENT_ID: ${{ secrets.GATLING_DEV_CLIENT_ID }}
          GATLING_DEV_CLIENT_SECRET: ${{ secrets.GATLING_DEV_CLIENT_SECRET }}
          GATLING_TEST_CLIENT_ID: ${{ secrets.GATLING_TEST_CLIENT_ID }}
          GATLING_TEST_CLIENT_SECRET: ${{ secrets.GATLING_TEST_CLIENT_SECRET }}
        run: |
            export SIMULATION_FQN="${{ github.event.inputs.simulationFqn }}"
            export NOTHING_FOR="${{ github.event.inputs.nothingFor }}"
            export AT_ONCE_USERS="${{ github.event.inputs.atOnceUsers }}"
            export RAMP_USERS="${{ github.event.inputs.rampUsers }}"
            export RAMP_USERS_DURING="${{ github.event.inputs.rampUsersDuring }}"
            export CONSTANT_USERS_PER_SEC="${{ github.event.inputs.constantUsersPerSec }}"
            export CONSTANT_USERS_PER_SEC_DURING="${{ github.event.inputs.constantUsersPerSecDuring }}"
            export ENV_NAME="${{ github.event.inputs.envName }}"

            NOTHING_FOR="${NOTHING_FOR:-5}"
            AT_ONCE_USERS="${AT_ONCE_USERS:-10}"
            RAMP_USERS="${RAMP_USERS:-50}"
            RAMP_USERS_DURING="${RAMP_USERS_DURING:-30}"
            CONSTANT_USERS_PER_SEC="${CONSTANT_USERS_PER_SEC:-10.0}"
            CONSTANT_USERS_PER_SEC_DURING="${CONSTANT_USERS_PER_SEC_DURING:-60}"
            ENV_NAME="${ENV_NAME:-dev}"

            set -eo pipefail
            ARGS=("--no-daemon")
            ARGS+=("--stacktrace")
            ARGS+=("gatlingRunCi")

            if [ -n "${{ github.event.inputs.simulationFqn }}" ]; then
                ARGS+=("-PsimulationFqn=$SIMULATION_FQN")
            fi
            ARGS+=("-PnothingFor=$NOTHING_FOR")
            ARGS+=("-PatOnceUsers=$AT_ONCE_USERS")
            ARGS+=("-PrampUsers=$RAMP_USERS")
            ARGS+=("-PrampUsersDuring=$RAMP_USERS_DURING")
            ARGS+=("-PconstantUsersPerSec=$CONSTANT_USERS_PER_SEC")
            ARGS+=("-PconstantUsersPerSecDuring=$CONSTANT_USERS_PER_SEC_DURING")
            ARGS+=("-PenvName=$ENV_NAME")

            if [ "$ENV_NAME" = "dev" ]; then
                echo "Setting dev client credentials"
                ARGS+=("-PCLIENT_ID=${{ secrets.GATLING_DEV_CLIENT_ID }}")
                ARGS+=("-PCLIENT_SECRET=${{ secrets.GATLING_DEV_CLIENT_SECRET }}")
            elif [ "$ENV_NAME" = "test" ]; then
                echo "Setting test client credentials"
                ARGS+=("-PCLIENT_ID=${{ secrets.GATLING_TEST_CLIENT_ID }}")
                ARGS+=("-PCLIENT_SECRET=${{ secrets.GATLING_TEST_CLIENT_SECRET }}")
            fi

            echo "Running: ./gradlew ${ARGS[*]}"
            ./gradlew "${ARGS[@]}"

      - name: Upload Gatling reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: gatling-reports
          path: |
            gatling/build/reports/gatling/**
            **/build/reports/gatling/**
          if-no-files-found: warn