NOTHING_FOR=5
AT_ONCE_USERS=10
RAMP_USERS=50
RAMP_USERS_DURING=30
CONSTANT_USERS_PER_SEC=10.0
CONSTANT_USERS_PER_SEC_DURING=60
PROTOCOL=http
DOMAIN=localhost
PORT=8080

# CLIENT_ID=
# CLIENT_SECRET=

# Run just one request, for testing
# NOTHING_FOR=0
# AT_ONCE_USERS=1
# RAMP_USERS=0
# RAMP_USERS_DURING=1
# CONSTANT_USERS_PER_SEC=0